.wince #rootContainer
{
  background-color: #000;
}

.navigationBar
{
  background-image: url(../images/NavigationBar.png);
  color: #FFF;
  background-color: transparent;
  z-index:1;
  box-shadow: 0px 3px 10px #000;
}

.android .navigationBar
{
  background-image: none;
  background-color: #333;
  color: #FFF;
  text-align: left;
}

.wince .navigationBar
{
  background-image: none;
  background-color: transparent !important;
  box-shadow: none !important;
  border-radius: 0px;
}


.content
{
  background-color: #000;
  color: #CCC;
}

.ios .content
{
  background-image: url(../images/Background.png);
  background-repeat: repeat;
  background-size: 50% 50%;
}

.wince .content
{
  background-image: none !important;
  background-color: transparent !important;
  color: #FFF;
}


.viewBackground
{
  background-color: #000;
}

.wince .viewBackground
{
  background-image: none !important;
  border-radius: 0px;
}

.wince .navigationBar .barButton
{
  top: 20px;
}

.documentContainer
{
    width: 240px;
    height: auto;
    padding: 40px;
    padding-left: 20px;
    padding-right: 0px;
    display: inline-block;
    text-align: center;
}
.documentContainer .documentImage img
{
    width: 190px;
    height: 242px;
}

.landscape .documentContainer
{
    padding: 10px;
}

.landscape .documentContainer .documentImage img
{
    width: 125px;
    height: 160px;
}

#fileView_text
{
    width:100%;
    height:100%;
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
    margin: 0;
    background-color: #F0ECEA;
    color: #543;
    font-size: 12pt;
    font-family: "HelveticaNeue-Light", "Helvetica", "Arial", sans-serif;
}

#fileView_contentArea
{
   padding: 0;
   height: 100%;
   position: relative;
}

.ios #fileView_title
{
    left: 73px;
    right: 73px;
}

